Repository qcloud-apaas/mobile-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Updates
  .DS_Store
  .nojekyll
  README.md
  _sidebar.md
  assets/.DS_Store
  assets/qr-code.png
  components/searchable-picker.md
  demos/app.6bd2a81d.js
  demos/app.6bd2a81d.js.LICENSE.txt
  demos/app.6bd2a81d.js.map
  demos/github.b9602f68.svg
  demos/index.html
  demos/selected.5d358192.svg
  index.html
  style.css
Due: none

docs: readme
  README.md
  docs/assets/qr-code.png
Due: none

Updates
  .DS_Store
  assets/qr-code.png
Due: none

Updates
  _sidebar.md
  components/datetime-picker.md
  demos/app.6bd2a81d.js
  demos/app.6bd2a81d.js.map
  demos/app.d3ef3d4c.js
  demos/app.d3ef3d4c.js.LICENSE.txt
  demos/app.d3ef3d4c.js.map
  demos/index.html
Due: none

Updates
  _sidebar.md
  components/cascader.md
  components/data-list.md
  components/datetime-picker.md
  demos/app.d3ef3d4c.js
  demos/app.d3ef3d4c.js.map
  demos/app.ecd01ef3.js
  demos/app.ecd01ef3.js.LICENSE.txt
  demos/app.ecd01ef3.js.map
  demos/checked.5d358192.svg
  demos/index.html
Due: none

Updates
  demos/app.d87686e5.js
  demos/app.d87686e5.js.LICENSE.txt
  demos/app.d87686e5.js.map
  demos/app.ecd01ef3.js
  demos/app.ecd01ef3.js.map
  demos/index.html
Due: none

Updates
  demos/app.c2239d90.js
  demos/app.c2239d90.js.LICENSE.txt
  demos/app.c2239d90.js.map
  demos/app.d87686e5.js
  demos/app.d87686e5.js.map
  demos/index.html
Due: none

fix: data-list filterable
  package-lock.json
  src/cascader/index.tsx
  src/data-list/addons.ts
  src/data-list/demo/index.tsx
  src/datetime-picker/datetime-picker.tsx
  src/datetime-picker/datetime-rage.tsx
  src/demos/scripts/routes/home/index.tsx
  src/searchable-picker/index.tsx
Due: eslint

feat: popup & field component
  README.md
  docs/_sidebar.md
  docs/components/field.md
  docs/components/popup.md
  src/demos/scripts/root-component.tsx
  src/demos/scripts/routes/home/index.tsx
  src/field/demo/index.scss
  src/field/demo/index.tsx
  src/field/index.scss
  src/field/index.tsx
  src/popup/demo/index.scss
  src/popup/demo/index.tsx
  src/popup/index.scss
  src/popup/index.tsx
  src/styles/pant-react-var.scss
Due: eslint, stylelint

chore(release): 0.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: ci
  .github/workflows/build-test.yml
  .github/workflows/publish.yml
  package-lock.json
  package.json
Due: none

chore(release): 0.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: stylelint
  src/styles/pant-react-var.scss
Due: stylelint

chore(release): 0.1.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: test
  package.json
Due: none

chore(release): 0.1.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: styles
  README.md
  docs/README.md
  src/styles/base.scss
Due: stylelint

chore(release): 0.1.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: assets
  package.json
Due: none

chore(release): 0.1.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: upgrade pant-react
  package-lock.json
  package.json
  webpack.config.js
Due: none

chore(release): 0.1.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update readme
  README.md
Due: none

style: add normalize style
  package-lock.json
  package.json
  src/styles/normalize.scss
Due: stylelint

chore(release): 0.1.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Updates
  README.md
  _sidebar.md
  components/data-list.md
  components/field.md
  components/popup.md
  demos/app.c2239d90.js
  demos/app.c2239d90.js.map
  demos/app.cc01377b.js
  demos/app.cc01377b.js.LICENSE.txt
  demos/app.cc01377b.js.map
  demos/index.html
  demos/logo.2e036e3e.png
Due: none

feat: upgrade pant-react
  docs/components/data-list.md
  package-lock.json
  package.json
  src/data-list/demo/index.scss
  src/data-list/demo/index.tsx
Due: eslint, stylelint

chore(release): 0.1.9
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

refactor: uI -> Mui
  docs/README.md
  docs/components/data-list.md
  src/cascader/demo/index.tsx
  src/cascader/index.tsx
  src/data-list/addons.ts
  src/data-list/demo/index.tsx
  src/data-list/index.tsx
  src/datetime-picker/datetime-picker.tsx
  src/datetime-picker/datetime-rage.tsx
  src/datetime-picker/demo/index.tsx
  src/field/demo/index.tsx
  src/field/index.tsx
  src/popup/demo/index.tsx
  src/popup/index.tsx
  src/searchable-picker/demo/index.tsx
  src/searchable-picker/index.tsx
Due: eslint

chore(release): 0.1.10
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Updates
  README.md
  components/data-list.md
  demos/app.cc01377b.js.map
  demos/app.d35389b2.js
  demos/app.d35389b2.js.LICENSE.txt
  demos/app.d35389b2.js.map
  demos/index.html
Due: none

feat: upgrade pant-react
  package-lock.json
  package.json
Due: none

chore(release): 0.1.11
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: upgrade pant-react
  package-lock.json
  package.json
  src/searchable-picker/demo/index.tsx
Due: eslint

chore(release): 0.1.12
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 0.1.13
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 0.1.14
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.scss
