Repository qcloud-apaas/mobile-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

feat: upgrade pant-react
  package-lock.json
  package.json
  src/searchable-picker/index.tsx
Due: eslint

chore(release): 0.1.15
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: upgrade pant-react
  package-lock.json
  package.json
Due: none

chore(release): 0.1.16
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: upgrade pant-react
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package-lock.json
  package.json
Due: none

chore(release): 0.1.17
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat(data-list): customize
  package-lock.json
  package.json
  src/assets/checked-batch.svg
  src/assets/filter.svg
  src/assets/more.svg
  src/assets/plus.svg
  src/assets/sort-asc.svg
  src/assets/sort-desc.svg
  src/assets/sort-no-order.svg
  src/assets/sort.svg
  src/assets/unchecked-batch.svg
  src/cascader/index.tsx
  src/data-list/addons.ts
  src/data-list/addons.tsx
  src/data-list/demo/index.scss
  src/data-list/demo/index.tsx
  src/data-list/index.scss
  src/data-list/index.tsx
  src/icon/index.tsx
  src/popup/index.scss
  src/searchable-picker/index.tsx
  src/styles/pant-react-var.scss
Due: eslint, stylelint

chore(release): 0.1.18
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Updates
  demos/app.1bd8be59.js
  demos/app.1bd8be59.js.LICENSE.txt
  demos/app.1bd8be59.js.map
  demos/app.d35389b2.js
  demos/app.d35389b2.js.map
  demos/checked-batch.4199e0d4.svg
  demos/filter.6b8799cb.svg
  demos/index.html
  demos/more.23cdc5c8.svg
  demos/plus.32190979.svg
  demos/sort-asc.1e434538.svg
  demos/sort-desc.1e434538.svg
  demos/sort-no-order.1e434538.svg
  demos/sort.4fcf839f.svg
  demos/unchecked-batch.b2cf5588.svg
Due: none

feat: default button text
  src/cascader/index.tsx
  src/datetime-picker/datetime-picker.tsx
  src/datetime-picker/datetime-rage.tsx
  src/searchable-picker/index.tsx
Due: eslint

chore(release): 0.1.19
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

style(data-list): icons
  src/assets/sort-asc.svg
  src/assets/sort-desc.svg
  src/styles/pant-react-var.scss
Due: stylelint

feat(data-list): customize
  docs/components/data-list.md
  src/assets/arrow-down.svg
  src/assets/arrow-up.svg
  src/data-list/addons.tsx
  src/data-list/demo/index.tsx
  src/data-list/index.tsx
Due: eslint

chore(release): 0.1.20
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 0.1.21
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(data-list): filterable daterange-picker style
  src/datetime-picker/datetime-rage.tsx
Due: eslint

chore(release): 0.1.22
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Updates
  components/data-list.md
  demos/app.1bd8be59.js
  demos/app.1bd8be59.js.map
  demos/app.cd95707c.js
  demos/app.cd95707c.js.LICENSE.txt
  demos/app.cd95707c.js.map
  demos/arrow-down.b3091109.svg
  demos/arrow-up.857759a0.svg
  demos/index.html
  demos/sort-asc.1e434538.svg
  demos/sort-asc.72c8c2b8.svg
  demos/sort-desc.1e434538.svg
  demos/sort-desc.df5053f1.svg
Due: none

chore(release): 0.1.23
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: lib styles
  gulpfile.js
  package-lock.json
  package.json
  src/styles/lib.scss
Due: stylelint

chore(release): 0.1.24
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

style(field): row mode styles
  package-lock.json
  package.json
  src/field/demo/index.tsx
  src/field/index.scss
  src/field/index.tsx
  src/styles/pant-react-var.scss
Due: eslint, stylelint

chore(release): 0.1.25
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

style(field): paddings
  src/field/index.scss
Due: stylelint

chore(release): 0.1.26
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 0.1.27
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

style(field): readonly style
  package-lock.json
  package.json
  src/field/index.scss
Due: stylelint

chore(release): 0.1.28
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

refactor: use cdn icons
  package-lock.json
  package.json
  src/cascader/index.tsx
  src/data-list/addons.tsx
  src/data-list/demo/index.tsx
  src/data-list/index.tsx
  src/field/index.scss
  src/searchable-picker/index.tsx
  src/styles/pant-react-var.scss
Due: eslint, stylelint

chore(release): 0.1.29
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat(data-list): no data msg
  package-lock.json
  package.json
  src/data-list/addons.tsx
  src/data-list/demo/index.tsx
  src/data-list/index.scss
  src/data-list/index.tsx
  src/searchable-picker/index.tsx
Due: eslint, stylelint

chore(release): 0.1.30
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

style(field): font-size
  src/field/index.scss
Due: stylelint

chore(release): 0.1.31
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 0.1.32
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.scss
