Repository qcloud-apaas/mobile-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

fix: column field label margin
  src/field/index.scss
Due: stylelint

chore(release): 0.1.33
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: upgrade pant-react
  package-lock.json
  package.json
Due: none

chore(release): 0.1.34
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: remove form field table layout
  src/field/index.scss
Due: stylelint

chore(release): 0.1.35
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 0.1.36
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(datetime-picker): yearmonth default value
  package-lock.json
  package.json
Due: none

chore(release): 0.1.37
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: data-list listRender
  docs/components/data-list.md
  package-lock.json
  package.json
Due: none

chore(release): 0.1.38
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Updates
  components/data-list.md
  demos/app.40ba1079.js
  demos/app.40ba1079.js.LICENSE.txt
  demos/app.40ba1079.js.map
  demos/app.cd95707c.js
  demos/app.cd95707c.js.map
  demos/arrow-down.b3091109.svg
  demos/arrow-up.857759a0.svg
  demos/checked-batch.4199e0d4.svg
  demos/checked.5d358192.svg
  demos/filter.6b8799cb.svg
  demos/index.html
  demos/more.23cdc5c8.svg
  demos/plus.32190979.svg
  demos/sort-asc.72c8c2b8.svg
  demos/sort-desc.df5053f1.svg
  demos/sort-no-order.1e434538.svg
  demos/sort.4fcf839f.svg
  demos/unchecked-batch.b2cf5588.svg
Due: none

fix(searchable-picker): virtualized list update
  package-lock.json
  package.json
Due: none

chore(release): 0.1.39
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(data-list): field width
  package-lock.json
  package.json
Due: none

chore(release): 0.1.40
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 0.1.41
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(field): styles
  src/field/index.scss
Due: stylelint

chore(release): 0.1.42
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(field): padding
  src/field/index.scss
Due: stylelint

chore(release): 0.1.43
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Updates
  .DS_Store
  assets/.DS_Store
  demos/app.40ba1079.js
  demos/app.40ba1079.js.map
  demos/app.bbddadde.js
  demos/app.bbddadde.js.LICENSE.txt
  demos/app.bbddadde.js.map
  demos/index.html
Due: none

fix: i18n
  src/cascader/index.tsx
  src/data-list/addons.tsx
  src/data-list/index.tsx
  src/datetime-picker/datetime-picker.tsx
  src/datetime-picker/datetime-rage.tsx
  src/searchable-picker/index.tsx
Due: eslint

chore(release): 0.1.44
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: i18n
  src/data-list/addons.tsx
Due: eslint

chore(release): 0.1.45
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: locale type
  package-lock.json
  package.json
Due: none

chore(release): 0.1.46
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat(datalist): single selection icon
  package-lock.json
  package.json
  src/data-list/addons.tsx
Due: eslint

chore(release): 0.1.47
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat(data-list): pass record index for record action
  docs/components/data-list.md
  package-lock.json
  package.json
Due: none

chore(release): 0.1.48
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat(data-list): getActions
  docs/components/data-list.md
  package-lock.json
  package.json
  src/data-list/demo/index.tsx
Due: eslint

chore(release): 0.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Updates
  components/data-list.md
  demos/app.75704d77.js
  demos/app.75704d77.js.LICENSE.txt
  demos/app.75704d77.js.map
  demos/app.bbddadde.js
  demos/app.bbddadde.js.map
  demos/index.html
Due: none

fix(data-list): getActions
  package-lock.json
  package.json
Due: none

chore(release): 0.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.scss
